
@{
                /**/

                ViewBag.Title = "TestVerisiOlustur";
                Layout = "~/Views/Shared/_Layout2.cshtml";
}


<form method="post">

    <input type="text" placeholder="Eklenecek Kullanıcı Sayısı" name="musteriAdet" />

    <input type="text" placeholder="Eklenecek Sepet Sayısı" name="sepetAdet" />

    <button style="color:#dddddd">Giriş Yap</button>
</form>

